<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение почты</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
        h1 {
            color: #333333;
        }

        p {
            color: #555555;
        }
    </style>
</head>
<body>
<div>
    <h1>Подтверждение почты</h1>
    <p>Спасибо, ваша почта была успешно подтверждена!</p>
</div>
</body>
</html>
